{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<header id="header" class="header header--fixed hide-from-print animated slideDown" role="banner">
    <div class="container">

        <nav id="nav" class="nav-wrapper" role="navigation">
            <ul class="nav nav--main">
                <li class="nav__item ">
                    <a class="header__link subdued" href="http://www.hello1010.com/about">
                        <span class="complimentary">关于</span>
                    </a>
                </li>
                <li class="nav__item ">
                    <a class="header__link subdued" href="http://hello1010.com/rewards">
                        <span class="complimentary">打赏</span>
                    </a>
                </li>
            </ul>
        </nav>

        <a href="http://hello1010.com/" class="brand header__link">
            <b class="brand__forename">Hello</b>
        </a>
    </div>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

    {{! The tag below includes the post loop - partials/loop_owner.hbs }}
    {{> "loop_owner"}}

</main>